//colors definition:
$primary_color:#E37464;
$secondary_color:#E3B464;
$letters_color:whitesmoke;
$darker_letter_color:#7D6F69;

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

html{
    font-size:62.5%;
}

.date-menu-block{
    width:100%;
    height:360px;
    padding:16px;
    background-color:$primary_color;
    color:whitesmoke;
    font-size:1.6rem;
    font-weight:500;
    display:flex;
    flex-direction:row;
    gap:20px;
    
    
 
    .menu-image--container{
        width:35px;
        height:35px;
        object-fit: fill;
            img{
                width:35px;
                height:35px;
            }
    }

    .time-information--container{
        width:45px;
        margin-top:5px;
        margin-left:65px;
        displaY:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}